body{

margin:0;
font-family:Arial;

}

/* LOGIN PAGE */

.login-bg{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(45deg,#ff512f,#dd2476,#1e90ff,#00c6ff);

background-size:400% 400%;

animation:gradientMove 8s infinite;

}

@keyframes gradientMove{

0%{background-position:0%}

50%{background-position:100%}

100%{background-position:0%}

}

.login-card{

background:white;

padding:40px;

border-radius:15px;

width:300px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

input{

width:90%;

padding:10px;

margin:10px;

border-radius:6px;

border:1px solid #ccc;

}

button{

padding:10px 20px;

border:none;

border-radius:6px;

background:#1e90ff;

color:white;

cursor:pointer;

font-weight:bold;

}

.secondary{

background:#555;

}

/* DASHBOARD */

.dashboard-bg{

text-align:center;

padding:40px;

background:linear-gradient(45deg,#6a11cb,#2575fc);

color:white;

}

.symptoms{

display:grid;

grid-template-columns:repeat(5,150px);

gap:10px;

justify-content:center;

margin-top:20px;

}

.symptoms button{

background:white;

color:#333;

font-weight:bold;

}

canvas{

margin-top:40px;

background:white;

border-radius:10px;

padding:10px;

}
