body{

margin:0;
font-family:Arial;

}

.login-bg{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(45deg,#ff512f,#dd2476,#1e90ff);

}

.login-box{

background:white;

padding:40px;

border-radius:10px;

text-align:center;

}

input{

padding:10px;
margin:10px;
width:200px;

}

button{

padding:10px 20px;

background:#1e90ff;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

.btn2{

background:#444;

}

.dashboard{

text-align:center;

background:#f2f2f2;

padding:40px;

}

.symptoms{

display:grid;

grid-template-columns:repeat(3,150px);

gap:10px;

justify-content:center;

}

.symptoms button{

background:#1e90ff;

}
